.search-filter {
    box-sizing: border-box;
    width: 100%;
}

#search {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#filter {
    margin-top: 1rem;
    width: 100%;
    margin-bottom: 1.5rem;
}

.label-text {
    width: 90%;
    word-break: break-word;
}

.container {
    margin-top: 1rem;
}

.my-button {
    float: right;
}

.row {
    margin-top:1rem;
    margin-bottom:1rem;
}

.done {
    text-decoration: line-through;
}

.item-list-base {
    font-size: 1.5rem;
}

.important {
    color: blue;
    font-weight: bold;
}

.item-add-form {
    margin-top: 1rem;
}